<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Trimmly{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css"
        integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    {% include "components/notification.html" %}

    <header>
        <div class="navLogo"><a href="#"><i class="fa-solid fa-link"></i> Trimmly </a></div>
        <div class="navBar">
            <nav>
                <a href="/">Home</a>
                <a href="/p/create">URL Shortener</a>
                <a href="/contact">Help</a>
            </nav>
        </div>
        <div class="navActions"><button>Dashboard <i class="fa-solid fa-up-right-from-square"></i></button></div>
    </header>

    <main>
        {% block content %}
        {% endblock %}
        <div class="mainAds">Placeholder for adsense</div>
        {% include "components/notification.html" %}
    </main>

    <footer>
        <p>&copy; 2025 Trimmly is a private project.</p>
        <p class="socialBadges">
            <a href="https://www.linkedin.com/in/guibuenorodrigues" target="_blank"><i
                    class="fa-brands fa-linkedin"></i></a>
            <a href="https://github.com/guibuenorodrigues" target="_blank"><i class="fa-brands fa-github"></i></a>
            <a href="https://www.instagram.com/guibr.dev/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        </p>
    </footer>

    <!-- {% if error_message is defined and error_message %}

    {% endif %} -->




    <!-- <script src="{{ url_for('static', path='/js/main.js') }}"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script>
        function closeNotification() {

        }

        document.addEventListener('DOMContentLoaded', () => {
            const messages = document.querySelectorAll('.flash-message');
            messages.forEach(message => {
                setTimeout(() => {
                    message.remove();
                }, 5000); // Remove after 5 seconds
            });
        });
    </script>

</body>

</html>
