{% extends "base.html" %}

<!-- {% block title %}Trimmly{% endblock %} -->

{% block content %}
<div class="form-container">
    <form action="http://localhost:8000/url" method="POST">

        <div class="form-section">
            <h2 class="form-heading">
                <i class="fas fa-link"></i>
                Shorten a long URL
            </h2>
            <div class="form-group">
                <label for="long-url" class="sr-only">Enter long link here</label>
                <input type="url" id="long-url" name="long_url" placeholder="Enter long link here" required>
            </div>
        </div>

        <div class="form-section">
            <h2 class="form-heading">
                <i class="fas fa-pencil-alt"></i>
                Customize your link
            </h2>
            <div class="form-group customize-group">
                <div class="select-wrapper">
                    <label for="domain" class="sr-only">Domain</label>
                    <select id="domain" name="domain">
                        <option value="tinyurl.com" selected>tinyurl.com</option>
                        <option value="bit.ly">bit.ly</option>
                        <option value="rebrand.ly">rebrand.ly</option>
                    </select>
                </div>
                <label for="alias" class="sr-only">Enter alias</label>
                <input type="text" id="alias" name="alias" placeholder="Enter alias">
            </div>
        </div>

        <button type="submit" class="submit-button">Shorten URL</button>
    </form>
</div>
{% endblock %}
