{% extends "base.html" %}

<!-- {% block title %}Trimmly{% endblock %} -->

{% block content %}
<div class="form-shortener-container">
    <form action="/p/create/generate" method="POST" id="form-shortner">

        <div class="form-shortener-section">
            <h2 class="form-shortener-heading">
                <i class="fas fa-link"></i>
                Shorten a long URL
            </h2>
            <div class="form-shortener-group">
                <label for="long-url" class="sr-only">Enter long link here</label>
                <input type="text" id="long_url" name="long_url"
                    placeholder="Enter long link here (e.g., www.google.com)"
                    pattern="^((https?|ftp):\/\/)?(www\.)?[a-zA-Z0-9-]+\.[a-zA-Z]{2,}((\/[a-zA-Z0-9#?._-]+)+|(\/[a-zA-Z0-9#?._-]*))?$"
                    title="Please enter a valid URL, with or without http/https." required>
            </div>
        </div>

        <div class="form-shortener-section">
            <h2 class="form-shortener-heading">
                <i class="fas fa-pencil-alt"></i>
                Customize your link
            </h2>
            <div class="form-shortener-group">
                <div>
                    <label for="short_key">Custom alias (optional)</label>
                    <input type="text" id="short_key" name="short_key" placeholder="Enter a short key (1-8 chars)"
                        minlength="1" maxlength="8" pattern="[a-zA-Z0-9]+">
                </div>
                <div>
                    <label for="expire_date">Expire date (optional)</label>
                    <input type="date" id="expire_date" name="expire_date">
                </div>
            </div>
        </div>

        <button type="submit" class="submit-button">Shorten URL</button>
    </form>
</div>

{% endblock %}
